
h1{
	color: white;
	text-align: center;
	font-family: sans-serif;
	/*padding-top: 100px;*/
	
}

h5 {
	font-family: sans-serif;

}

h4{
	font-family: sans-serif;
}

h3{
	font-family: sans-serif;
}

.mail{
	font-family: sans-serif;
}


header{
	background: url('images/bg.jpeg');
	height: 100%;
	width: 100%;
}


.latam_logo{
	width: 120px;
	margin-left: 20%;
	margin-top: 60px;
	
}

.menu{
	float: right;
	margin-top: 60px;
	margin-right: 10%;
	
}

.menu a{
	color:#f7f7f7;
	margin-right: 5%;
	text-decoration:none; 
	font-family: sans-serif;
		
}


/*.menu a:link 
{ 
	text-decoration:none; 
} */



button{
	border-radius: 10px;
	width: 120px;
    height: 60px;
	background-color: #007ac9;
    border: 2px solid #007ac9;
    color: #fff;
    font-size: 15px;
  
}


.párrafo1{
	color: white;
	text-align: center;
	padding-bottom: 100px;
	font-family: sans-serif;
	margin-left: 20%;
	margin-right: 20%;


}


.buttons{
	text-align: center;
}


.bootCamp{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 60px;


}

.imagenBootCamp{
	width: 45%; 

	/*margin-left: 30%;*/
}


hr{
	margin-top: -3.7px;
	margin-bottom: -1px;
}

#footerUno{
	/*margin-left: 10%;
	margin-right: 10%;*/
	padding-top: 30px;
	height: 300px;

}


.solicitaInformacion{
	width: 100%;
    height: 300px;
    background-color: #f7f7f7; 
    text-align: center;
}

.divSolicitaInformacion{
	padding-top: 30px;
	font-family: sans-serif;
}


.contacto{
	float: left;
	margin-left: 15%;
}

.suscribete{
	float: right;
	margin-right: 10%;
}

#footerDos{
	background-color: #3d3d3d;
	width: 100%;
	height: 90px;
	font-family: sans-serif;

}

#footerDos p{
	color: white;
	padding: 25px 0px 0px 250px;
}


